<a href="https://colab.research.google.com/github/ViditPy/TEMPERATURE-PREDICTION-USING-MACHINE-LEARNING/blob/master/TEMPERATURE_PREDICTION_USING_MACHINE_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"Weather in Szeged 2006-2016" (**TEMPERATURE PREDICTION USING MACHINE LEARNING**)
Hourly/daily summary with temperature, pressure, wind speed and more.
""Temperature Prediction using Machine learning and comparison between different regression Models""

This Data has been from(https://www.kaggle.com/budincsevity/szeged-weather).

In [0]:
import warnings

In [0]:
weather.isnull().any()   ## Checks weather there is any null value present in the dataset

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [0]:
warnings.filterwarnings('ignore')
import os
import pandas as pd
import numpy as np

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
import tensorflow as tf
from tensorflow import keras

In [0]:
from sklearn import preprocessing

In [0]:
weather = pd.read_csv('weatherHistory.csv')

In [0]:
weather.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [0]:
weather.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [0]:
weather.shape

(96453, 12)

In [0]:
weather.describe()

       Temperature (C)  ...  Pressure (millibars)
count     96453.000000  ...          96453.000000
mean         11.932678  ...           1003.235956
std           9.551546  ...            116.969906
min         -21.822222  ...              0.000000
25%           4.688889  ...           1011.900000
50%          12.000000  ...           1016.450000
75%          18.838889  ...           1021.090000
max          39.905556  ...           1046.380000

[8 rows x 8 columns]

In [0]:
weather.isnull().any() ## to check for null values in the datasets

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [0]:
weather.isnull().all()

Formatted Date              False
Summary                     False
Precip Type                 False
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

"CHECKING THE NUMBER OF NULLS IN %"

In [0]:
round(100*(weather.isnull().sum()/len(weather.index)),2)

Formatted Date              0.00
Summary                     0.00
Precip Type                 0.54
Temperature (C)             0.00
Apparent Temperature (C)    0.00
Humidity                    0.00
Wind Speed (km/h)           0.00
Wind Bearing (degrees)      0.00
Visibility (km)             0.00
Loud Cover                  0.00
Pressure (millibars)        0.00
Daily Summary               0.00
dtype: float64

Now,We will try to impute Null with the maximum Occured values

In [0]:
weather['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [0]:
weather.loc[weather['Precip Type'].isnull(),'Precip Type']-'rain'

52672    NaN
52674    NaN
52675    NaN
52677    NaN
52678    NaN
        ...
95584    NaN
95585    NaN
95586    NaN
95587    NaN
95588    NaN
Name: Precip Type, Length: 517, dtype: object

In [0]:
weather.loc[weather['Precip Type'].isnull(),'Precip Type']-'snow'

52672    NaN
52674    NaN
52675    NaN
52677    NaN
52678    NaN
        ...
95584    NaN
95585    NaN
95586    NaN
95587    NaN
95588    NaN
Name: Precip Type, Length: 517, dtype: object

In [0]:
weather.loc[weather['Precip Type']=='rain','Precip Type']=1  ## Inputing binary values in Type Columns
weather.loc[weather['Precip Type']=='snow','Precip Type']=0

In [0]:
weather_num = weather[list(weather.dtypes[weather.dtypes!='object'].index)]

In [0]:
weather_y = weather_num.pop('Temperature (C)')
weather_X = weather_num

**Spilliting the Data for training and Testing purpose
**

In [0]:
train_X,test_X,train_y,test_y = train_test_split(weather_X,weather_y,test_size=.3,random_state=5)

In [0]:
train_X

       Apparent Temperature (C)  Humidity  ...  Loud Cover  Pressure (millibars)
62570                 16.966667      0.94  ...         0.0               1013.19
37668                 12.172222      0.72  ...         0.0               1004.01
18417                 29.066667      0.36  ...         0.0               1008.83
8967                  17.355556      0.26  ...         0.0               1022.75
38533                 -3.172222      0.73  ...         0.0                992.85
...                         ...       ...  ...         ...                   ...
59465                  2.627778      0.99  ...         0.0               1020.72
5520                   6.955556      0.74  ...         0.0               1018.10
20463                 -9.544444      0.84  ...         0.0               1023.62
18638                 29.788889      0.34  ...         0.0               1009.43
35683                 16.083333      0.44  ...         0.0               1017.61

[67517 rows x 7 columns]

*BUILDING THE MODEL
*

In [0]:
model = LinearRegression()
model.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
prediction = model.predict(train_X)

In [0]:
np.mean((prediction-train_y)**2)

0.9038006913812638

## **Getting started**

The document you are reading is not a static web page, but an interactive environment called a **Colab notebook** that lets you write and execute code.

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

In [0]:
Error- .903800

In [0]:
pd.DataFrame({'actual':train_y,'prediction':prediction,'diff':(train_y-prediction)})

          actual  prediction      diff
62570  16.966667   16.103790  0.862877
37668  12.172222   13.882550 -1.710328
18417  29.777778   29.114089  0.663689
8967   17.355556   19.131934 -1.776378
38533   2.138889    0.878245  1.260644
...          ...         ...       ...
59465   5.116667    4.428254  0.688412
5520    7.777778    8.172523 -0.394746
20463  -5.000000   -5.998081  0.998081
18638  30.722222   29.314146  1.408076
35683  16.083333   16.692811 -0.609478

[67517 rows x 3 columns]

In [0]:
prediction = model.predict(test_X)

In [0]:
np.mean((prediction-test_y)**2)

0.8932472737896555

**POLYNOMIAL REGRESSION
**

In [0]:
from sklearn.preprocessing import PolynomialFeatures

In [0]:
poly = PolynomialFeatures(degree=4)
X_poly = poly.fit_transform(train_X)
poly.fit(X_poly,train_y)

PolynomialFeatures(degree=4, include_bias=True, interaction_only=False,
                   order='C')

In [0]:
Lin2 = LinearRegression()
Lin2.fit(X_poly, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
prediction2 = Lin2.predict(poly.fit_transform(test_X))  ## Calculating the erroe
np.mean((prediction2-test_y)**2)

0.1419357579854669

In [0]:
pd.DataFrame({'Actual':test_y,'prediction':prediction2,'diff':(test_y-prediction2)})

          Actual  prediction      diff
31418   2.222222    2.686758 -0.464536
52873  -0.555556   -0.547753 -0.007803
32723  17.222222   17.289525 -0.067303
2194   10.950000   11.976793 -1.026793
7586    3.200000    2.980642  0.219358
...          ...         ...       ...
84080   6.094444    5.805287  0.289157
20154  11.250000   11.891168 -0.641168
2438   12.194444   12.974283 -0.779839
10927  -0.933333   -0.881364 -0.051969
16740  17.222222   17.272580 -0.050357

[28936 rows x 3 columns]

DECISION TREE REGRESSION - 
CART

In [0]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [0]:
prediction3 = regressor.predict(test_X)
np.mean((prediction3-test_y)**2)

0.008168127318867504

In [0]:
pd.DataFrame({'Actual':test_y,'prediction':prediction3,'diff':(test_y-prediction3)})

          Actual  prediction          diff
31418   2.222222    2.222222  0.000000e+00
52873  -0.555556   -0.555556 -1.110223e-16
32723  17.222222   17.222222  3.907985e-14
2194   10.950000   10.950000  0.000000e+00
7586    3.200000    3.133333  6.666667e-02
...          ...         ...           ...
84080   6.094444    6.116667 -2.222222e-02
20154  11.250000   11.250000  0.000000e+00
2438   12.194444   12.194444 -7.105427e-15
10927  -0.933333   -0.911111 -2.222222e-02
16740  17.222222   17.222222  3.907985e-14

[28936 rows x 3 columns]

ERROR = .008

Random Forest with maximum Dept — 10

In [0]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=10,random_state =0,n_estimators=100)
regr.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
prediction4 = regr.predict(test_X)
np.mean((prediction4-test_y)**2)

0.007358670280304587

In [0]:
pd.DataFrame({'Actual':test_y,'prediction':prediction4,'diff':(test_y-prediction4)})

          Actual  prediction      diff
31418   2.222222    2.149134  0.073088
52873  -0.555556   -0.573915  0.018360
32723  17.222222   17.223085 -0.000863
2194   10.950000   10.949832  0.000168
7586    3.200000    3.193208  0.006792
...          ...         ...       ...
84080   6.094444    6.095448 -0.001003
20154  11.250000   11.240951  0.009049
2438   12.194444   12.197518 -0.003074
10927  -0.933333   -0.892780 -0.040553
16740  17.222222   17.223085 -0.000863

[28936 rows x 3 columns]

ERROR -  .008

Random Forest with maximum depth — 50

In [0]:
regr2 = RandomForestRegressor(max_depth=50,random_state=0,n_estimators=100)
regr2.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
prediction5 = regr2.predict(test_X)
np.mean((prediction5-test_y)**2)

0.002170822503558345

In [0]:
pd.DataFrame({'Actual':test_y,'prediction':prediction5,'diff':(test_y-prediction5)})

          Actual  prediction          diff
31418   2.222222    2.222222 -4.440892e-15
52873  -0.555556   -0.554000 -1.555556e-03
32723  17.222222   17.222222  4.263256e-14
2194   10.950000   10.950000 -2.131628e-14
7586    3.200000    3.203333 -3.333333e-03
...          ...         ...           ...
84080   6.094444    6.114111 -1.966667e-02
20154  11.250000   11.250000  0.000000e+00
2438   12.194444   12.194444  8.881784e-15
10927  -0.933333   -0.943278  9.944444e-03
16740  17.222222   17.222222  4.263256e-14

[28936 rows x 3 columns]

Error — 0.0019
This gives the least error.
But we should always take care that our model is not overfitting the data. So sometimes even a model with least error can predict very bad outputs for more generalized inputs.

Comparison:

ERROR

Linear Regression => .902
Polynomial regression => 0.999
CART => .008
RANDOM FOREST DEPTH -10  => .008
RANDOM FOREST DEPTH - 50 => .002